@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    text-decoration: none;
    display: inline-block;
}
a {
    text-decoration: none;
}

.container {
    padding: 0 100px;
}
// HEADER
.header {
    height: 25px;
    background-color: #0282f9;
    ul li {
        margin-left: 40px;
        font-size: 9px;
        cursor: pointer;
    }
}

.navbar {
    height: 110px;
    .logo {
        width: 80px;
        aspect-ratio: 1;
    }
    ul {
        height: 100%;
        gap: 20px;
        li {
            height: 100%;
            display: flex;
            align-items: center;
            color: #505050;
            font-weight: bold;
            font-size: 14px;
            a {
                color: inherit;
            }
        }
        .active {
            color: #0282f9;
            box-shadow: 0px -6px 0px 0px #0282f9 inset;
        }
    }
    .search-bar {
        border-bottom: 2px solid #0282f9;
        width: 150px;
        .nav-input {
            border: 0;
            outline: 0;
            width: 100%;
        }
        .nav-input::placeholder {
            text-align: end;
            opacity: 1;
            font-weight: bold;
        }
        i {
            cursor: pointer;
        }
    }
}

.jumbo {
    height: 300px;
    overflow: hidden;
}

// COMICS route

.comics {
    background-color: #1c1c1c;
    color: white;
    .container {
        position: relative;
        .thumb {
            // height: 200px;
            overflow: hidden;
            img {
                object-fit: cover;
                object-position: center;
            }
        }
        .title {
            position: absolute;
            background-color: #0282f9;
            padding: 7px 20px;
            top: -50px;
            left: 80px;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .more {
            background-color: #0282f9;
            font-weight: bold;
            font-size: 0.7rem;
            padding: 7px 0px;
            text-align: center;
            cursor: pointer;
        }
    }
}
.comics-navbar {
    background-color: #0282f9;
    height: 150px;
    color: white;
    font-size: 0.8rem;
    gap: 60px;
    .nav-option {
        cursor: pointer;
        img {
            width: 40px;
        }
    }
}

// FOOTER

.footer-up {
    background-image: (url("/resources/images/footer-bg.jpg"));
    background-size: cover;
    overflow: hidden;
    ul {
        text-decoration: none;
    }
    a,
    li {
        color: grey;
        display: block;
        font-size: 0.8rem;
        line-height: 20px;
    }
    a:hover {
        text-decoration: underline;
    }
    .links {
        gap: 25px;
    }
    p {
        color: grey;
        font-size: 0.8rem;
        a {
            display: inline;
            color: #0282f9;
        }
    }
    .col-6:last-child {
        max-height: 400px;
        .logo-footer {
            overflow: hidden;
        }
    }
}

.footer-down {
    background-color: #303030;
    .sign-up {
        border: 2px solid #0282f9;
        color: white;
        padding: 10px;
        cursor: pointer;
    }
    .socials {
        gap: 20px;
        .follow {
            color: #0282f9;
            font-weight: bold;
            font-size: 1.5rem;
        }
        img {
            cursor: pointer;
        }
    }
}

// COMIC DETAIL ROUTE
.gallery {
    background-color: #0282f9;
    height: 60px;
    .container {
        position: relative;
        .gallery-img {
            position: absolute;
            border: 1px solid white;
            bottom: -45px;
            img {
                width: 150px;
                height: 230px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
.description h2 {
    color: #0b4a88;
}
.infos {
    background-color: #f6f6f6;
    padding-bottom: 100px;
    h3 {
        color: #0b4a88;
    }
    .info {
        border-top: 1px solid #cecece;
        gap: 100px;
        padding: 10px 0;
        .subtitle {
            min-width: 80px;
            color: #0b4a88;
        }
    }
}

.alert-container {
    width: 1000px;
    margin-left: 300px;
}
